## Q1

In [13]:
import math
x1=float(input("enter x1:"))
x2=float(input("enter x2:"))
y1=float(input("enter y1:"))
y2=float(input("enter y2:"))
dist = math.sqrt((x2-x1)**2) + ((y2-y1)**2)
print(dist)

enter x1: 2
enter x2: 1
enter y1: 2
enter y2: 1

2.0

## Q2

In [45]:
numb=[]
print("enter 25 numbers =")
for _ in range(25):
    numb = float(input())
    numbers.append(num)
    mean_value= mean(numb)
    median_value=median(numb)
    try:
        mode_value+mode(numb)
    except:
        mode_value = "no unique mode"
    print(mean_value)
    print(mode_value)
    print(median_value)

enter 25 numbers =

 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

ValueError: could not convert string to float: '1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25'

## Q3

In [49]:
pi = 3.14159
rad=float(input("Enter the radius :"))
area = pi*(rad**2)
print(area)

Enter the radius : 7

153.93791

## Q4

In [60]:
input1 = int(input("enter the 1st input:"))
input2 = int(input("enter the 2nd input:"))
input3 = float(input("enter the 3rd input:"))
print(type(input1))
print(type(input2))
print(type(input3))

enter the 1st input: 10
enter the 2nd input: 20
enter the 3rd input: 30

<class 'int'>
<class 'int'>
<class 'float'>

## Q5

In [71]:
a = float(input("Enter 1st number :"))
b = float(input("Enter 2nd number :"))
print(a+b)
print(a-b)
print(a/b)
print(a*b)

Enter 1st number : 10
Enter 2nd number : 20

30.0
-10.0
0.5
200.0